<script src="/socket.io/socket.io.js"></script>
<script src="/js/vendor/jquery.cookie.js"></script>
<link href="/css/chat.css" rel="stylesheet">
<script>



    function loadOnlineAdmins (projectId) {
      $.ajax({
          url: "/users/listadmins",
          method: 'POST',
          dataType: 'json',
          data: { projectId: projectId },
          success: function(datas) {
            var Html = "<select name='chatWithUser' id='chatWithUser'>";
            Html += "<option value=''>Select Admin (optional)</option>";
            if (datas) {
              datas.forEach(function(data){
                  Html += "<option value='" + data.username + "'>" + data.username + "</option>";
              });
              Html += '</select>';
              $('#connected-admins').html(Html);
            }
          }
      });
    }

    $( document ).ready(function() {
        var projectId   = '{{ projectId }}',
            socket      = io.connect('http://localhost:3000'); //Socket is initialized 
        //Set instance cookie
        if($.cookie('instanceId') === null || $.cookie('instanceId') === "" || $.cookie('instanceId') === undefined) {
          //cookie is not set
          var instanceId  = '{{ instanceId }}';
          $.cookie("instanceId", instanceId);

        } else {
          var instanceId = $.cookie('instanceId');
        }
        /** 
        * Set interval function to auto populate the admin list
        * 10 secs interval is giving for each request/response
        */
        

         /******** CHAT FUNCTIONALITY STARTS HERE *******/

         //initialize chat box on clicking connected users

          $('#chat-int').click(function( event ) {
            //check cookie
            if($.cookie('chatName') === null || $.cookie('chatName') === "" || $.cookie('chatName') === undefined) {
                $('#introduction-form').show();
                $('#chat-section').hide();
                $('#dash-section').hide();
                $('#instanceId').val($.cookie('instanceId'));
                loadOnlineAdmins (projectId);
            } else {
                //start chat here
                $('#introduction-form').hide();
                $('#chat-section').show();
                $('#dash-section').hide();
                var instanceId = $.cookie('instanceId');
                var username = $.cookie('chatName');
                $("#chatId").val(instanceId);
                $("#chatName").val(username);
                //set up socket
                var param = {
                    username : username,
                    email : null,
                    instanceId : instanceId,
                    projectId : projectId,
                    adminId: null
                };
                socket.emit('adduser', param);
                //load history
                $.ajax({
                    url: "/messages/listall",
                    method: 'POST',
                    dataType: 'json',
                    data: { instanceId: instanceId },
                    success: function(datas) {
                        var Html = "";
                        datas.forEach(function(data){
                            //set default class message and name
                            var clsDir = 'left';
                            if(data.name == username) {
                                clsDir = 'right';
                            }
                            Html += "<div class='chat-box-" + clsDir + "'>"  + data.message + "</div>";
                            Html += "<div class='chat-box-name-" + clsDir + "'>" + data.name + "</div>";
                            Html += "<hr class='hr-clas' />";
                        });
                        $('#messages').html(Html);
                        $('#messages').animate({ scrollTop: $("#messages")[0].scrollHeight }, "slow");
                    }
                });
            }
            event.preventDefault();
          });

          $( "#set-nickname" ).submit(function( event ) {
            var param = {
                username : $('#clientName').val(),
                email : $('#clientEmail').val(),
                instanceId : $('#instanceId').val(),
                projectId : $('#projectId').val(),
                adminId : $('#chatWithUser').val()
            };
            socket.emit('adduser', param);
            
            $('#introduction-form').hide();
            $('#chat-section').show();

            $("#chatId").val(param.instanceId);
            $("#chatName").val(param.username);

            $.cookie("chatName", param.username);

            event.preventDefault();
          });

          //Send message
          $( "#send-message" ).submit(function( event ) {
            var param = {
                username : $('#chatName').val(),
                message : $('#message').val(),
                instanceId : $('#chatId').val()
            };
            
            $('#message').val('');
            socket.emit('sendchat', param);
            event.preventDefault();
          });

          // listener, whenever the server emits 'updatechat', this updates the chat body
          socket.on('updatechat', function (chatUser, data, instanceId) {
            var clsDir = 'left';
            var Html = "";
            if(chatUser == $.cookie('chatName')) {
                clsDir = 'right';
            }
            //prepare Html
            Html = "<div class='chat-box-" + clsDir + "'>"  + data + "</div>";
            Html += "<div class='chat-box-name-" + clsDir + "'>" + chatUser + "</div>";
            Html += "<hr class='hr-clas' />";
            $('#messages').append(Html);
            $('#messages').animate({ scrollTop: $("#messages")[0].scrollHeight }, "slow");
          });

          //listener, whenever the server emits 'updatelist', this updates the user list
          socket.on('updatelist', function (data) {
            var Html = "";
            //do not update mylist
            if(data.username != $.cookie('chatName')) {
                Html = "<div class='chat-box-online-left'>" + data.username + "</div>";
                Html += "<hr class='hr-clas-low' />";
                $('#connected-admins').append(Html);
            }
          });
    });
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#" id="chat-int">Chat</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="dash-main-section">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders" id="dash-section">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          <div class="row placeholders" id="introduction-form">
            <div class="col-xs-18 col-sm-9 placeholder">
              <form id="set-nickname" class="form-inline" role="form">
              <input  type="hidden" name="instanceId" id="instanceId" value=""> 
              <input  type="hidden" name="projectId" id="projectId" value="{{ projectId }}">
                <div class="form-group">
                  <label for="connectedAdmins">Admin:</label>
                  <div id="connected-admins"></div>
                </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="clientEmail" name="clientEmail">
                </div>
                <div class="form-group">
                  <label for="pwd">Chat Name:</label>
                  <input type="text" class="form-control" id="clientName" name="clientName">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
          <div class="row placeholders" id="chat-section">
            
            <div class=" col-lg-6 col-md-6 col-sm-6">
              <div class="chat-box-div">
                    <div class="chat-box-head">
                        CHAT HISTORY
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-cogs"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                                    <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                                    <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><span class="fa fa-circle-o-notch"></span>&nbsp;Logout</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel-body chat-box-main"id="messages">
                        <!-- The chat panel. The chat hitory loads here -->
                    </div>
                    <div class="chat-box-footer">
                      <form id="send-message">
                      <input  type="hidden" name="chatId" id="chatId" value="">
                      <input  type="hidden" name="chatName" id="chatName" value="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Text Here..." id="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit" id="datasend">SEND</button>
                            </span>
                        </div>
                      </form>
                    </div>

                </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>