<script src="/socket.io/socket.io.js"></script>
<link href="/css/vendor/bootstrap-switch.min.css" rel="stylesheet">
<script src="/js/vendor/bootstrap-switch.min.js"></script>
<link href="/css/chat.css" rel="stylesheet">
<script>

    function loadConnectedUsers(projectId, username) {
      $.ajax({
               url: '/instances/listconnected',
               method: 'POST',
               dataType: 'json',
               data: { projectId: projectId },
               success: function(datas) {
                  var Html = "";
                  if (datas) {
                    datas.forEach(function(data){
                        Html += "<div class='chat-box-online-left' id='ins-" + data.instanceId + "'><a href='#' id='" + data.instanceId + "/" + username + "/" + projectId +"' onclick='startChat(this); return false;' >" + data.name + "</a>  <a href='#' id='data/" + data.instanceId + "/" + data.name + "/" + projectId +"' onclick='disconnectMe(this); return false;' ><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></div>";
                        Html += "<hr id='hr-" + data.instanceId + "' class='hr-clas-low' />";
                    });
                    //Html += '</ul>';" + data.instanceId + "
                    $('#chat-connected-clients').html(Html);
                  }
               }
            });
    }

    function loadDisconnectedUsers(projectId, username) {
      $.ajax({
               url: '/instances/listdisconnected',
               method: 'POST',
               dataType: 'json',
               data: { projectId: projectId },
               success: function(datas) {
                  var Html = "";
                  if (datas) {
                    datas.forEach(function(data){
                        Html += "<div id='ins-" + data.instanceId + "'>" + data.name + " <a href='#' id='data/" + data.instanceId + "/" + data.name + "/" + projectId +"' onclick='connectMe(this); return false;' ><span class='glyphicon glyphicon-ok' aria-hidden='true'></span></a></div>";
                        Html += "<hr id='hr-" + data.instanceId + "' class='hr-clas-low' />";
                    });
                    
                    $('#chat-disconnected-clients').html(Html);
                  }
               }
            });
    }

    $( document ).ready(function() {
        var projectId  = '{{ projectId }}',
            userStatus = {{ userStatus }}, 
            username   = '{{ username }}',
            socket     = io.connect('http://localhost:3000'); //Socket is initialized 

        
        /** 
        * Set interval function to auto populate the connected and ban list
        * 10 secs interval is giving for each request/response
        */
        loadConnectedUsers(projectId, username);
        loadDisconnectedUsers(projectId, username);
        
        /**
        * Bootstrap switch box to toggle Online and Offline modes"
        */
        $("#my-checkbox")
        .bootstrapSwitch('state', {{ userStatus }})
        .on('switchChange.bootstrapSwitch', function(event, state) {
            var onChangeStatus = 0;
            if (state) {
              onChangeStatus = 1;
            }
            $.ajax({
               url: '/user/status',
               method: 'POST',
               dataType: 'json',
               data: { status: onChangeStatus },
               success: function(response) {
                 console.log(response);
               }
            });
        });

         /******** CHAT FUNCTIONALITY STARTS HERE *******/

         //initialize chat box on clicking connected users
          //Send message
          $( "#send-message" ).submit(function( event ) {
            var param = {
                username : $('#chatName').val(),
                message : $('#message').val(),
                instanceId : $('#chatId').val()
            };
            
            $('#message').val('');
            socket.emit('sendchat', param);
            event.preventDefault();
          });

          // listener, whenever the server emits 'updatechat', this updates the chat body
          socket.on('updatechat', function (chatUser, data, instanceId) {
            var clsDir = 'left';
            if(chatUser == username) {
              clsDir = 'right';
            }else{
              console.log("#ins-" + instanceId);
              $( "#chat-connected-clients" ).find( "#ins-" + instanceId ).removeClass( "current-active" ).addClass( "current-highlight" );
            }
            //prepare Html
            Html = "<div class='chat-box-" + clsDir + "'>"  + data + "</div>";
            Html += "<div class='chat-box-name-" + clsDir + "'>" + chatUser + "</div>";
            Html += "<hr class='hr-clas' />";
            $('#messages').append(Html);
            $('#messages').animate({ scrollTop: $("#messages")[0].scrollHeight }, "slow");
          });
          //listener, whenever the server emits 'updatelist', this updates the user list
          socket.on('updatelist', function (data) {
            //console.log("list updating emitter callled");
            //alert("doing something");
            //do not update mylist
            var updateHtml = false;
            if(data.username != username) {
              if( data.adminId ) {
                  if( data.adminId == username ) {
                    updateHtml = true;
                  }
              } else {
                  updateHtml = true;
              }
              if( updateHtml ) {
                  Html = "<div class='chat-box-online-left' id='ins-" + data.instanceId + "'><a href='#' id='" + data.instanceId + "/" + username + "/" + projectId + "' onclick='startChat(this); return false;' >" + data.username + "</a>  <a href='#' id='data/" + data.instanceId + "/" + data.username + "/" + projectId +"' onclick='disconnectMe(this); return false;' ><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></div>";
                  Html += "<hr id='hr-" + data.instanceId + "' class='hr-clas-low' />"; 
              }
              
              $('#chat-connected-clients').append(Html);
              $( "#chat-connected-clients" ).find( "#ins-" + data.instanceId ).addClass( "current-highlight" );
            }
          });

          //listener, whenever the server emits 'updatelist', this updates the user list
          socket.on('updatebanlist', function (data) {
            //console.log("ban list emitter called");
            //do not update mylist
            if(data.username != username) {

                Html = "<div id='ins-" + data.instanceId + "'>" + data.username + " <a href='#' id='data/" + data.instanceId + "/" + data.username + "/" + projectId +"' onclick='connectMe(this); return false;' ><span class='glyphicon glyphicon-ok' aria-hidden='true'></span></a></div>";
                Html += "<hr id='hr-" + data.instanceId + "' class='hr-clas-low' />";
                $('#chat-disconnected-clients').append(Html);
            }
          });
    });
    
    function startChat(obj) {
      var socket  = io.connect('http://localhost:3000');
      var mainStr = $(obj).attr('id');
      var mainArr = mainStr.split("/");
      var instanceId =  mainArr[0];
      var username = mainArr[1];
      var projectId = mainArr[2];
      var jsonUrl    = '/messages/listall';
      $('.chat-box-online-left').removeClass( "current-active" );
      $("#ins-" + instanceId).removeClass( "current-highlight" ).addClass( "current-active" );
      var param = {
                username : username,
                email : null,
                instanceId : instanceId,
                projectId : projectId,
                adminId: null
            };
      socket.emit('adduser', param);

      $('#chatId').val(instanceId);
      $.ajax({
         url: jsonUrl,
         method: 'POST',
         dataType: 'json',
         data: { instanceId: instanceId },
         success: function(datas) {
          console.log(datas);
            var Html = "";
            datas.forEach(function(data){
              //set default class message and name
              var clsDir = 'left';
              if(data.name == username) {
                  clsDir = 'right';
              }
              Html += "<div class='chat-box-" + clsDir + "'>"  + data.message + "</div>";
              Html += "<div class='chat-box-name-" + clsDir + "'>" + data.name + "</div>";
              Html += "<hr class='hr-clas' />";
            });
            $('#messages').html(Html);
            $('#messages').animate({ scrollTop: $("#messages")[0].scrollHeight }, "slow");
         }
      });
    }

    function disconnectMe (obj) {
        var socket  = io.connect('http://localhost:3000');
        var objIdStr = $(obj).attr('id');
        var objIdArr = objIdStr.split("/");
        var param = {
          status : 1,
          instanceId : objIdArr[1],
          username : objIdArr[2],
          projectId : objIdArr[3]
        };
        console.log(param);
        socket.emit('removeuser', param);
        $("#ins-" + objIdArr[1]).remove();
        $("#hr-" + objIdArr[1]).remove();
    }

    function connectMe (obj) {
       var socket  = io.connect('http://localhost:3000');
        var objIdStr = $(obj).attr('id');
        var objIdArr = objIdStr.split("/");
        var param = {
          status : 0,
          instanceId : objIdArr[1],
          username : objIdArr[2],
          projectId : objIdArr[3]
        };
        console.log(param);
      socket.emit('reconnectuser', param);
      $("#ins-" + objIdArr[1]).remove();
      $("#hr-" + objIdArr[1]).remove();
    }



</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chat sample</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            {{#if loggedIn}}
            <li><a href="/admin/logout">Logout</a></li>
            {{else}}
            <li><a href="/admin/login">Login</a></li>
            {{/if}}
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="checkbox" id="my-checkbox" name="my-checkbox"  data-off-text="Offline" data-on-text="Online" />
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="chat-box-online-div">
                    <div class="chat-box-online-head">
                        ONLINE USERS <!-- (120) -->
                    </div>
                    <div class="panel-body chat-box-online" id="chat-connected-clients">
                        <!-- Connected users loads here -->                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="chat-box-new-div">
                  <div class="chat-box-new-head">
                      BLOCKED USERS <!-- (4) -->
                  </div>
                  <div class="panel-body chat-box-new" id="chat-disconnected-clients">
                    <!-- Disconnected users will load here -->
                  </div>
                </div>
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6">
              <div class="chat-box-div">
                    <div class="chat-box-head">
                        CHAT HISTORY
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-cogs"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                                    <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                                    <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><span class="fa fa-circle-o-notch"></span>&nbsp;Logout</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel-body chat-box-main" id="messages">
                        <!-- The chat panel. The chat hitory loads here -->
                    </div>
                    <div class="chat-box-footer">
                      <form id="send-message">
                      <input  type="hidden" name="projectId" id="projectId" value="{{ projectId }}">
                      <input  type="hidden" name="chatId" id="chatId" value="">
                      <input  type="hidden" name="chatName" id="chatName" value="{{ username }}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Text Here..." id="message">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit" id="datasend">SEND</button>
                            </span>
                        </div>
                      </form>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>